.Watch {
  width: 1000px;
  margin: 50px auto 0;
}

.watches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.watch-wrap {
  padding: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.watch-time {
  font-size: 28px;
}

.watch-remove span {
  position: absolute;
  right: 5px;
  top: 5px;
}

.watch-remove span:hover {
  color: #f00;
  cursor: pointer;
}